@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Приветствуем на домашней странице практики 5!</h1>
    <p>Прочитать про создание веб-приложений с помощью ASP.NET Core можно <a class="link" href="https://docs.microsoft.com/aspnet/core">тут</a>.</p>
</div>
